@page {
    size: 148mm 210mm;
    margin: 10mm;
    bleed: 5mm;
    
  }

  body{
    font-family: "EditionContextualUnlicensed-30";
    font-size: 12px;
  }
  
  h1{
    page-break-after: left;
  }
  
  img{
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    box-shadow: 0px 0px 15px;
  }
  
  h2{
    page-break-after: right;
    margin-right: 45mm;
    position: absolute;
    bottom: 10px;
    font-size: 17px;
  }
  
  i{
    font-family: "EditionScriptualUnlicensed-30";
  }
  
  p{
    page-break-after: left;
    columns: 2;
    column-fill: auto;
  }